.App {
  font-family: sans-serif;
  margin: 10px;
}
.App * {
  box-sizing: border-box;
}
form {
  max-width: 960px;
  margin: 0 auto;
}
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  margin: 5px auto;
  border-radius: 4px;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
  background: rgb(234, 215, 250);
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #ccc;
  max-width: 960px
}
.date-text {
  display: block;
  font-size: 10px;
  color: #999;
}
.todo-item > div:hover {
  cursor: pointer;
}
.update-input {
  border: none;
  padding: 0 0;
}
.update-input:focus {
  border: none;
  background: none;
}